<launch>
    <arg name="use_sim_time" default="true" />
    <arg name="mav_name" default="firefly" />
    <arg name="world_name" default="basic"/>
    <arg name="enable_logging" default="false" />
    <arg name="enable_ground_truth" default="true" />
    <arg name="log_file" default="$(arg mav_name)" />

    <arg name="subscript" default="" />
    <arg name="param_file" value="$(find interface_vsep_rotors)/../../launch/sim_vsep.yaml" />
    <arg name="pcl_topic" value="/$(arg mav_name)/vi_sensor/camera_depth/depth/points" />
    <arg name="waypoint_x" value="-2.5" /> <!-- -3.0 -->
    <arg name="waypoint_y" value="3.0" />
    <arg name="waypoint_z" value="1.0" />

    <group ns="$(arg mav_name)$(arg subscript)">
        <node name="vsePlanner" pkg="vseplanner" type="vsePlanner" output="screen" >
            <param name="tf_frame" type="string" value="navigation" />
            <param name="body_frame" type="string" value="firefly/base_link" />
            <param name="resolution" type="double" value="0.4" />
            <param name="visualize_max_z" type="double" value="3.0" />
            <param name="sensor_max_range" type="double" value="6.0" />
            <param name="map_publish_frequency" type="double" value="1.0" />
            <remap from="cam0/camera_info" to="/$(arg mav_name)$(arg subscript)/vi_sensor/left/camera_info"/>
            <remap from="cam1/camera_info" to="/$(arg mav_name)$(arg subscript)/vi_sensor/right/camera_info"/>
            <remap from="pointcloud_throttled" to="$(arg pcl_topic)"/>
            <remap from="pose" to="/$(arg mav_name)$(arg subscript)/ground_truth/pose_with_covariance"/>
            <remap from="vseplanner" to="/$(arg mav_name)$(arg subscript)/vseplanner"/>
            <remap from="image_saliency" to="/saliency/image_norm"/>
            <remap from="image_info" to="/$(arg mav_name)/vi_sensor/left/camera_info"/>
            <rosparam command="load" file="$(arg param_file)" />
        </node>
    </group>
</launch>